<div>
    <h1>{{title}} : User Component App</h1>
    <img [src]='imgUrl' (mouseover)='over()' (mouseout)='out()' [style.height]='height' [style.width]='width' />
    <div class="input-g">
        <p>Name : </p>
        <input type="text" [(ngModel)]='info.Name' />
    </div>
    <div class="input-g">
        <p>Age : </p>
        <input type="text" [(ngModel)]='info.Age' />
    </div>
    <div class="input-g">
        <p>City : </p>
        <input type="text" [(ngModel)]='info.Address.City' />
    </div>
    <!-- <p>{{jsonText}}</p>
    <p>{{jsonText2}}</p> -->
    <!-- <p>{{info.city}}</p> -->
    <!-- <p>{"Name""{{aname}}","Age"{{age}},"Address"{"Country""Egypt","City""{{city}}"}}}}</p> -->
    <p>{{info | json}}</p>

</div>